<% content_for :title, @topic.name %>
 
  <h4>Type</h4>
  <p><img class="ui-li-icon" src="/assets/<%= @topic.metacode.icon %>" width="30" />&nbsp;<%= @topic.metacode.name %></p>
  
  
  <% if !@topic.desc.empty? %>
    <h4>Description</h4>
    <p><%= @topic.desc %></p>
  <% end %>
  
  <% if !@topic.link.empty? %>
    <h4>Link</h4>
    <a href="<%= @topic.link %>"><%= @topic.link %></a>
  <% end %>
  
  <% if @topic.maps.length > 0 %>  
  <h4>Appears In Maps</h4>
  <ul data-role="listview" data-inset="true">
    <% @topic.maps.each do |m| %>
      <% if m.authorize_to_view(@user) %>
        <li><a href="/maps/<%= m.id %>"><img class="ui-li-icon" src="/assets/map.png" width="30" /><%= m.name %></a></li>
      <% end %> 
    <% end %>
  </ul>
  <% end %>