<%#
  # @file
  # Main application file. Holds scaffolding present on every page.
  # Then a certain non-partial view (no _ preceding filename) will be
  # displayed within, based on URL
  #%>

<!DOCTYPE html>
<html>
<head>
  <title><%=h yield(:title) + "" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript">
    var mapid = false;
  <% if authenticated? %>
    var userid = <%= user.id %>;
    var username = "<%= user.name %>";
  <% else %>
    var userid = null,username = null;
  <% end %>
  </script>
  <%= stylesheet_link_tag    "application.mobile", :media => "all" %>
  <%= javascript_include_tag "application.mobile" %>
  <script type="text/javascript" src="//use.typekit.net/obp7wss.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
  <%= csrf_meta_tags %>
</head>
<body>

     <% if action_name == "newtopic" %>
       <%= yield %>
     <% else %>
     <div data-role="page" >
 
        <div data-role="header" data-theme="c">
            <h1><%=h yield(:title) %></h1>
        </div><!-- /header -->
 
        <div data-role="content">
            <%= yield %>
        </div><!-- /content -->
 
        <div data-role="footer" data-position="fixed" data-theme="c">
            <% if authenticated? %>
            <div data-role="navbar" class="nav-veqtor">  
              <ul>  
                <li><a href="/maps/mappers/<%= user.id %>" onclick="mapid = false;" data-icon="Map">My Maps</a></li>
                <li><a href="/newtopic" id="createNewEntity" onclick="pickMap()" data-icon="Add" data-transition="slideup" data-prefetch="true">New Topic</a></li>
                <li><a href="/sign_out" data-icon="Lock">Logout</a></li>
              </ul>  
            </div>
            <% else %>
            <h4>IdeaWall</h4>
            <% end %>
        </div><!-- /footer -->
 
    </div><!-- /page -->
    <% end %>
    
<% if authenticated? %>
<script>

function pickMap() {
  if (mapid) {
    $("#addToMaps option[value='" + mapid + "']").attr("selected", "selected");
    $("#addToMaps").selectmenu("refresh");
  }
}

$('#new-entity').live('pagecreate',function(){

    var addToMaps = []; 
     
    // create Topic
    function createTopic(name, metacode, description) {
      return $.ajax({
          type: "POST",
          url: "/topics",
          dataType: "json",
          data: { "topic": { "name": name, "desc": description, "metacode": metacode, "x": 0, "y":0, "grabTopic": "null" } },
          success: (function (data, textStatus, jqXHR) {
              // reset the form and change the button back to say "Submit"
              $('#new-entity form')[0].reset();
              $('#new-entity').find('.addIt .ui-btn-text').text("Created!");
              setTimeout(function(){
                $('#new-entity').find('.addIt .ui-btn-text').text("Create!");
                
                var prev = $.mobile.urlHistory.getPrev();
                
                if (prev != undefined) {
                  if (prev.url.indexOf('maps') != -1 && prev.url.indexOf('maps/mappers') == -1 ) {  
                    $.mobile.changePage(prev.url, { transition: 'slidedown' });
                  } else {
                    $.mobile.changePage( '/topics/' + data.id, { transition: 'slidedown' });
                  }
                } else {
                  $.mobile.changePage( '/maps/mappers/' + userid.toString(), { transition: 'slidedown' });
                }
              }, 1000);
              
              for (var i = 0; i < addToMaps.length; i++) {
                createMapping( data.id, parseInt(addToMaps[i]) );
              }
          })
      });
    } 
    
    // create Mapping
    function createMapping(topicid, mapid) {
      return $.ajax({
          type: "POST",
          url: "/mappings",
          dataType: "json",
          data: { "xloc": 0, "yloc": 0, "topic": { "id": topicid }, "map": { "id": mapid }  },
          success: (function (data, textStatus, jqXHR) {

          })
      });
    }
    
    // add events to the back and submit buttons
    // this is the back button
    $('#new-entity').find('.backToList').click(function(evt){
      evt.preventDefault();
      evt.stopPropagation();
      $('#new-entity form')[0].reset();
      if ($.mobile.urlHistory.getPrev() != undefined) {
        $.mobile.changePage($.mobile.urlHistory.getPrev().url, { transition: 'slidedown' });
      } else {
        $.mobile.changePage( '/maps/mappers/' + userid.toString(), { transition: 'slidedown' });
      }
    });

    // add the events for the submit button
    $('#new-entity').find('.addIt').click(function(evt){
        console.log(evt);
        evt.preventDefault();
        evt.stopPropagation();
        
        if ($('#title').val() == "" || $('#type option:selected').length == 0) {
          alert('Please enter a title and select a type');
          return;
        }
        // change the button to a loading image
        $('#new-entity').find('.addIt .ui-btn-text').html('<img src="/assets/loading.gif" />');
        
        $('#addToMaps option:selected').each(function() {
          addToMaps.push( $(this).val() );
        });
        
        // addit!
        createTopic( $('#title').val() , $('#type option:selected').val() , $('#description').val() )
    }); // end $('.addIt').click
});
</script>
<% end %>

</body>
</html>